grant codeBase "file:${user.home}${/}Proj${/}-" {
  permission java.net.SocketPermission "localhost:0-","connect, resolve";
  permission java.io.FilePermission "${user.home}${/}Proj${/}-", "read";
}
